<h2>Movies Lists</h1>
<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to 'Create List', new_list_path, class: 'btn btn-outline-secondary' %>
