<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-4">
          <h2 class="text-center mb-4 text-primary fw-bold">Add a New Bookmark</h2>
          <%= simple_form_for [@list, @bookmark] do |f| %>
            <div class="mb-3">
              <%= f.association :movie, prompt: "Select a movie", include_blank: false, label: false, class: "form-select form-select-lg rounded-pill" %>
            </div>
            <div class="mb-3">
              <%= f.input :comment, label: false, placeholder: "Add a comment", class: "form-control form-control-lg rounded-pill" %>
            </div>
            <div class="text-center">
              <%= f.button :submit, "Add Bookmark", class: "btn btn-primary btn-lg px-5 py-2 shadow rounded-pill" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
